@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    background-color: #f6f6f9;
}
.container{
    display: grid;
    grid-template-columns: 190px auto 360px;
    width: 95%;
    margin: 0 auto;
    gap: 28px;
}
/* ---SideBar--- */
aside{
    height: 100vh;
}
aside .toggle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 22px;
}
aside .toggle .logo{
    display: flex;
}
aside .toggle .logo img{
    width: 32px;
    height: 32px;
}
aside .toggle .logo h2{
    margin-left: 3px;
}
aside .toggle .close{
    padding-right: 16px;
    display: none;
}
aside .sidebar{
    display: flex;
    flex-direction: column;
    box-shadow: 0 32px 48px rgba(132, 139, 200, 0.18);
    background: #fff;
    border-radius: 15px;
    /* width: 210px; */
    height: 88vh;
    position: relative;
    top: 24px;
    transition: all 0.3s ease;
}
aside .sidebar:hover{
    box-shadow: none;
}
aside .sidebar a{
    display: flex;
    align-items: center;
    color: #7d8da1;
    height: 60px;
    gap: 16px;
    position: relative;
    margin-left: 32px;
    transition: all 0.3s ease;
}
aside .sidebar a span{
    font-size: 26px;
    transition: all 0.3s ease;
}
aside .sidebar a:last-child{
    position: absolute;
    bottom: 32px;
    width: 100%;
}
aside .sidebar a.active{
    width: 100%;
    color: #6C9BCF;
    background-color: rgba(132, 139, 200, 0.18);
    margin-left: 0;
}
aside .sidebar a.active::before{
    content: '';
    width: 6px;
    height: 18px;
    background-color: #6C9BCF;
}
aside .sidebar a.active span{
    color: #6C9BCF;
    margin-left: calc(16px - 3px);
}
aside .sidebar a:hover{
    color: #6C9BCF;
}
aside .sidebar a:hover span{
    margin-left: 9.5px;
}
aside .sidebar .msg-count{
    background-color: #FF0060;
    padding: 2px 6px;
    color: #202528;
    font-size: 11px;
    border-radius: 6.5px;
}
/* ---Analysis--- */
main{
    margin-top: 22px;
}
main .analyse{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}
main .analyse > div{
    background-color: #fff;
    padding: 28px;
    border-radius: 32px;
    margin-top: 16px;
    box-shadow: 0 32px 48px rgba(132, 139, 200, 0.18);
    cursor: pointer;
    transition: all 0.3s ease;
}
main .analyse > div:hover{
    box-shadow: none;
}
main .analyse > div .status{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
main .analyse h3{
    margin-left: 10px;
    font-size: 16px;
}
main .analyse .progress{
    position: relative;
    width: 92px;
    height: 92px;
    border-radius: 50%;
}
main .analyse svg{
    width: 112px;
    height: 112px;
}
main .analyse svg circle{
    fill: none;
    stroke-width: 10;
    stroke-linecap: round;
    transform: translate(5px, 5px);
}
main .analyse .sales svg circle{
    stroke: #1B9C85;
    stroke-dashoffset: -30;
    stroke-dasharray: 200;
}
main .analyse .visits svg circle{
    stroke: #FF0060;
    stroke-dashoffset: -30;
    stroke-dasharray: 200;
}
main .analyse .searches svg circle{
    stroke: #6C9BCF;
    stroke-dashoffset: -30;
    stroke-dasharray: 200;
}
main .analyse .progress .percentage{
    position: absolute;
    top: -3px;
    left: -1px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
/* ---New Users--- */
main .new-users{
    margin-top: 20px;
}
main .new-users .user-list{
    background-color: #fff;
    padding: 28px;
    border-radius: 32px;
    margin-top: 16px;
    box-shadow: 0 32px 48px rgba(132, 139, 200, 0.18);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 22px;
    cursor: pointer;
    transition: all 0.3s ease;
}
main .new-users .user-list:hover{
    box-shadow: none;
}
main .new-users .user-list .user{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main .new-users .user-list .user img{
    width: 100px;
    height: 80px;
    margin-bottom: 6px;
    border-radius: 50%;
}
/* ---Recent Orders--- */
main .recent-orders{
    margin-top: 25px;
}
main .recent-orders h2{
    margin-bottom: 13px;
}
main .recent-orders table{
    background-color: #fff;
    width: 100%;
    padding: 28px;
    text-align: center;
    box-shadow: 0 32px 48px rgba(132, 139, 200, 0.18);
    border-radius: 32px;
    transition: all 0.3s ease;
}
main .recent-orders table:hover{
    box-shadow: none;
}
main table tbody td{
    height: 45px;
    border-bottom: 1px solid rgba(132, 139, 200, 0.18);
    color: #677483;
}
main table tbody tr:last-child td{
    border: none;
}
main .recent-orders a{
    text-align: center;
    display: block;
    margin: 16px auto;
    color: #6C9BCF;
}
/* ---Right Section--- */
/* ---Nav--- */
.right-section{
    margin-top: 22px;
}
.right-section .nav{
    display: flex;
    justify-content: end;
    gap: 32px;
}
.right-section .nav button{
    display: none;
}
.right-section .dark-mode{
    background-color:rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 67px;
    height: 25px;
    cursor: pointer;
    border-radius: 6.5px;
}
.right-section .dark-mode span{
    font-size: 19px;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right-section .dark-mode span.active{
    background-color: #6C9BCF;
    color: white;
    border-radius: 6.5px;
}
.right-section .nav .profile{
    display: flex;
    gap: 32px;
    text-align: right;
}
.right-section .nav .profile .profile-pic{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
}
.right-section .user-profile{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 16px;
    background-color: #fff;
    padding: 28px;
    border-radius: 32px;
    box-shadow: 0 32px 48px rgba(132, 139, 200, 0.18);
}
.right-section .user-profile:hover{
    box-shadow: none;
}
.right-section .user-profile img{
    width: 176px;
    height: auto;
    margin-bottom: 12px;
    border-radius: 50%;
}
.right-section .user-profile h2{
    margin-bottom: 3px;
}
.right-section .reminders{
    margin-top: 32px;
}
.right-section .reminders .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
}
.right-section .reminders .header span{
    padding: 10px;
    box-shadow: 0 32px 48px rgba(132, 139, 200, 0.18);
    background-color: #fff;
    border-radius: 50%;
}
.right-section .reminders .notification{
    background-color: #fff;
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 11px;
    padding: 22px 28px;
    border-radius: 19px;
    box-shadow: 0 32px 48px rgba(132, 139, 200, 0.18);
    cursor: pointer;
    transition: all 0.3s ease;
}
.right-section .reminders .notification:hover{
    box-shadow: none;
}
.right-section .reminders .notification .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    width: 100%;
}
.right-section .reminders .notification .icon{
    display: flex;
    padding: 9px;
    color: #fff;
    background-color: #1B9C85;
    border-radius: 20%;
}
.right-section .reminders .notification.deactive .icon{
    background-color: #FF0060;
}
.right-section .reminders .add-reminder{
    background-color: #fff;
    border: 2px dashed #6C9BCF;
    color: #6C9BCF;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.right-section .reminders .add-reminder:hover{
    background-color: #6C9BCF;
    color: white;
}
.right-section .reminders .add-reminder div{
    display: flex;
    align-items: center;
    gap: 9px;
}

@media (max-width: 1200px) {
    /* ---SideBar--- */
    .container{
        width: 95%;
        grid-template-columns: 110px auto 360px;
    }
    aside .logo h2{
        display: none;
    }
    aside .sidebar h3{
        display: none;
    }
    aside .sidebar a{
        width: 88px;
    }
    aside .sidebar a:last-child{
        position: relative;
        margin-top: 30px;
    }
    /* ---Main content--- */
    main .analyse{
        grid-template-columns: 1fr;
        gap: 0;
    }
    main .new-users .user-list .user{
        flex-basis: 40%;
    }
    main .recent-orders{
        width: 94%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin: 32px 0 0 12px;
    }
    main .recent-orders table{
        width: 83vw;
    }
    main table thead tr th:last-child{
        display: none;
    }
    main table thead tr th:first-child{
        display: none;
    }
    main table tbody tr td:last-child{
        display: none;
    }
    main table tbody tr td:first-child{
        display: none;
    }
}

@media (max-width: 768px){
    .container{
        width: 100%;
        grid-template-columns: 1fr;
        padding: 0 18px;
    }
    aside{
        position: fixed;
        background-color: #fff;
        width: 240px;
        z-index: 3;
        box-shadow: 16px 48px 64px rgba(132, 139, 200, 0.18);
        height: 100vh;
        left: -100%;
        display: none;
        animation: showMenu 0.4s ease forwards;
    }
    @keyframes showMenu{
        to{
            left: 0;
        }
    }
    aside .logo{
        margin-left: 16px;
    }
    aside .logo h2{
        display: inline;
    }
    aside .sidebar h3{
        display: inline;
    }
    aside .sidebar a{
        width: 100%;
        height: 55px;
    }
    aside .sidebar a:last-child{
        position: absolute;
        bottom: 80px;
    }
    aside .toggle .close{
        display: inline-block;
        cursor: pointer;
    }
    main{
        margin-top: 128px;
        padding: 0 16px;
    }
    main .new-users .user-list .user{
        flex-basis: 35%;
    }
    main .recent-orders{
        position: relative;
        margin: 48px 0 0 0;
        width: 100%;
    }
    main .recent-orders table{
        width: 100%;
        margin: 0;
    }
    .right-section{
        width: 94%;
        margin: 0 auto 64px;
    }
    .right-section .nav{
        position: fixed;
        top: 0;
        left: 0;
        align-items: center;
        background-color: #fff;
        padding: 0 18px;
        height: 75px;
        width: 100%;
        z-index: 2;
        box-shadow: 0 16px 16px rgba(132, 139, 200, 0.18);
        margin: 0;
    }
    .right-section .nav .dark-mode{
        width: 70px;
        position: absolute;
        left: 66%;
    }
    .right-section .profile .info{
        display: none;
    }
    .right-section .nav button{
        display: inline-block;
        background-color: transparent;
        cursor: pointer;
        color: #7d8da1;
        position: absolute;
        left: 16px;
        border: none;
    }
    .right-section .nav button span{
        font-size: 32px;
    }
}